PYTHONUNBUFFERED=0
REDASH_LOG_LEVEL=INFO

REDASH_REDIS_URL=redis://redash-redis:6379/0

REDASH_COOKIE_SECRET=replace_with_random_secret
REDASH_SECRET_KEY=replace_with_random_secret

POSTGRES_PASSWORD=replace_with_database_password
REDASH_DATABASE_URL=postgresql://postgres:replace_with_database_password@redash-postgres/postgres

REDASH_ENFORCE_CSRF=true
REDASH_GUNICORN_TIMEOUT=60
REDASH_HOST=http://localhost:5001

REDASH_DWH_READER_PASSWORD=replace_with_dwh_reader_password
